/*SELETOR BODY É GERAL, TODO O DOCUMENTO */
body {
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
  /* ALTURA MINIMO PRO DOCUMENTO, 100% DO VIEW PORT */
}

/* UTILIZA . PARA SELECIONAR CLASSES CRIADAS EM HTML*/
.page {
  width: 1000px;/*LARGURA <-- */
  margin: 0 auto;
  padding-top: 65px;
}
/* DISPLAY É COMO AS "CAIXAS/ELEMENTOS" VÃO SE COMPORTAR// INLINE OU BLOCK */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #1F1534;
  text-decoration: none;
}
/*HOVER É PARA ESTILIZAR BOTAO QUANDO MOUSE PASSA EM CIMA */
ul li a:hover {
  font-weight: bold;
}

h1, ul {
  font-family: 'Mulish', sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1F1534;

  font-weight: normal;/* PESO DA FONTE, NEGRITO,NORMAL ? <--*/

  width: 490px;
}

h1 span {
  color: #89C5CC;
  font-weight: bold;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;

  width: 440px;

  margin: 40px 0;
}

/* ESTILIZAÇÃO COMPLETA DO BUTTON*/
.button {
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;

  background: #69B99D; 
  border: 0;
  padding: 14px 32px 15px;

  display: inline-flex;
  align-items: center;
  justify-content: center; /* ALINHAR AO CENTRO*/
  gap: 10px;
  /* RADIUS = BORDA*/
  border-radius: 4px;

  /*MÃOZINHA */
  cursor: pointer;
}

.button:hover {
  /* COR DE FUNDO*/
  background: #4ea788; 
}

footer {
  /* SIZE=TAMANHO*/
  font-size: 14px;
  line-height: 28px; 

  text-align: center;

  margin-top: 80px;
}

footer a {
  font-weight: bold;
}
/* # É USADO PARA SELECIONAR ID// UNICOS*/
#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}